{% extends 'nav.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

    <!-- Style CSS -->
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>

    <title>ManushLagbe | Sign Up</title>
  </head>
  <body>
  

  <div class="customer" id="myContent1">
  <form method='POST'  class="login-form"> {% csrf_token %}
        
        <h2 style="color: #4c95c6; text-align: center;">Sign Up</h2>


        <div class="txtb">
          <span >{{ form }}</span>
        </div>

        

        <button type="submit" class="logbtn">Submit</button>

        <div class="bottom-text">
          <span style="font-size: 20px;">Already have an account? <a href="{% url 'login' %}">Sign In</a></span>
        </div>
   </form>
   </div>




  <script type="text/javascript">
      $(".txtb input").on("focus",function(){
        $(this).addClass("focus");
      });

      $(".txtb input").on("blur",function(){
        if($(this).val() == "")                      #for css effect on clicking input fields 
        $(this).removeClass("focus");
      });

   </script>

  
  </body>
</html>
{% endblock %}
